# Pycharm
.idea
__pycache__

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/datasets
/data/embeddings
/data/thumbnails
/venv/


# Mac OS-specific storage files
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Lock file
*.lock.*
face-hunter.json

* SSH keys
*pub_key*