# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/datasets
/data/embeddings
/data/thumbnails
/venv/


# Mac OS-specific storage files
.DS_Store