<p>
  <!-- #docregion toolbar-simple -->
  <mat-toolbar>
    <mat-icon class="head_icon">track_changes</mat-icon>
    <span>Face-Hunter: Multi-Modal Entity Linking</span>
    <span class="example-spacer"></span>
    <button *ngIf="router.url === '/search'" routerLink="/analyse"  mat-raised-button class="example-icon" aria-label="Example icon-button with share icon">
      <span>Analyse</span>
      <mat-icon>science</mat-icon>
    </button>
    <button *ngIf="router.url === '/analyse'" routerLink="/search"  mat-raised-button class="example-icon" aria-label="Example icon-button with share icon">
      <span>Search</span>
      <mat-icon>science</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div>
  <router-outlet></router-outlet>
</div>

