.search_bar {
  margin-top: 30px;
  text-align: center;
}

.search_button {
  text-align: center;
}

.search_button mat-icon {
  font-size: 400%;
  cursor: pointer;
}

mat-form-field {
  width: 50%;
}

.bback {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

div p {
  text-align: center;
  margin-top: 10px;
}

.search_item {
  display: inline-block;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  vertical-align: top;
}

.search_item div p {
  margin: 0;
  text-align: left;
  display: inline-block;
  width: 70px;
  word-break: break-word;
}

.sparql {
  cursor: pointer;
}

.inbl {
  width: 300px !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: gray !important;
}

.clickable {
  cursor: pointer;
}

.paging-div {
  padding: 20px;
}

.paging-p {
  margin: 5px;
}




