p {
  margin: 3px;
}

mat-form-field {
  padding-top: 1.3em;
  font-size: 13px;
  width: 90%;
}

.one {
  margin-left: 20px;
}

.two {
  margin-left: 40px;
}

mat-divider {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  margin-right: 10px
}

.query {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
